.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 40px;
  width: 80%;
}

.people {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.people-details {
  display: flex;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  background-color: #f3f3f3;
  min-width: 30%;
  cursor: pointer;
}

.person-name {
  font-weight: 700;
}

.person-details {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  background-color: #cbc8c8;
  cursor: pointer;
  min-width: 400px;
  height: 400px;
  text-align: center;
}

.close-button {
  background-color: #ffffff;
}

button:hover {
  background-color: rgb(178, 206, 244);
}

.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.pagination button {
  width: 200px;
}

.pagination button:disabled {
  cursor: not-allowed;
}

.pagination button:disabled:hover {
  background-color: #f3f3f3;
}

.page-size {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 200px;
  background-color: #f3f3f3;
  border-radius: 8px;
  border: 1px solid #c7c7c7;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

#page-size {
  width: 50px;
  text-align: center;
  border-radius: 5px;
}

.results-counter {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.no-results {
  display: flex;
  justify-content: center;
  font-size: 1.8em;
  font-weight: 500;
}
